<img id="captcha" src="<?php echo $html->url('/users/captcha_image'); ?>" alt="" />
<br />
<a href="javascript:void(0);"
   onclick="javascript:document.images.captcha.src='<?php echo $html->url('/users/captcha_image'); ?>?' + Math.round(Math.random(0)*1000)+1">
    Reload image</a>
<?php echo $form->input("captcha",array("label"=>"Verification code"));?>