<div class="cbox">
    <div class="cbox_box">
        <div class="cbox_top"><div></div></div>
        <div class="cbox_content">
            <p><?php echo $content; ?></p>
        </div>
        <div class="cbox_bottom"><div></div></div>
    </div>
</div>