<div class="front">
    <div class="wrapper clearfix">
        <div class="content">
            <div class="span-20 last gui clear">
                <div class="top-x-line"></div>
                &nbsp;
            </div>
        </div>
        <div class="space"></div>
    </div>
</div>
